# Server Configuration
PORT=3000
NODE_ENV=development

# AWS SNS Configuration
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=ap-northeast-2

# Firebase Configuration
# Firebase 서비스 계정 JSON을 문자열로 변환하여 입력
FIREBASE_SERVICE_ACCOUNT='{"type": "service_account", "project_id": "your-project-id", ...}'
